{% trans_default_domain 'sfs_user_admin' %}
{% extends '@SfsUserAdmin/user/base.html.twig' %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %}- {{ parent() }}{{ 'invite.page.title'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'invite.title'|trans }}</h1>
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <input id="invite_admin_submit" type="submit" class="btn btn-primary" value="{{ 'invite.actions.submit'|trans }}" />
    <a class="btn btn-light" href="{{ url('sfs_user_admin_list') }}">{{ 'invite.actions.cancel'|trans }}</a>
    {{ form_end(form) }}
{% endblock content %}