{% trans_default_domain 'sfs_user_admin' %}
{% extends '@SfsUserAdmin/user/base.html.twig' %}

{% block title %}- {{ parent() }}{{ 'invitations.page.title'|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <h1>{{ 'invitations.title'|trans }}</h1>
        </div>

        <div class="col-6 text-right">
            <a class="btn btn-light" href="{{ url('sfs_user_admin_create') }}">Create user</a>
            <a class="btn btn-light" href="{{ url('sfs_user_admin_invite') }}">Invite user</a>
            <a class="btn btn-link" href="{{ url('sfs_user_admin_list') }}">List users</a>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>{{ 'invitations.fields.email.header'|trans }}</th>
            <th>&nbsp;</th>
        </tr>
        </thead>

        <tbody>
        {% for user in user %}
            <tr>
                <td>{{ user.email }}</td>
                <td>
                    <a href="#" class="disabled"
                       onclick="return confirm('{{ 'invitations.actions.resend.confirm'|trans }}')"
                       title="{{ 'invitations.actions.resend.title'|trans }}"
                    >{{ 'invitations.actions.resend.button'|trans }}</a>
                    <a href="{{ url('sfs_user_admin_update', {'user': user.id}) }}"
                       title="{{ 'invitations.actions.update.title'|trans }}"
                    >{{ 'invitations.actions.update.button'|trans }}</a>
                    <a href="{{ url('sfs_user_admin_delete', {'user': user.id}) }}"
                       onclick="return confirm('{{ 'invitations.actions.delete.confirm'|trans }}')"
                       title="{{ 'invitations.actions.delete.title'|trans }}"
                    >{{ 'invitations.actions.delete.button'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}