{% trans_default_domain 'sfs_user_admin' %}
{% extends '@SfsUserAdmin/user/base.html.twig' %}

{% block title %}- {{ parent() }}{{ 'search.page.title'|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <h1>{{ 'search.title'|trans }}</h1>
        </div>

        <div class="col-6 text-right">
            <a class="btn btn-light" href="{{ url('sfs_user_admin_create') }}">Create user</a>
            <a class="btn btn-light" href="{{ url('sfs_user_admin_invite') }}">Invite user</a>
            <a class="btn btn-link" href="{{ url('sfs_user_admin_invitations') }}">Pending invitations</a>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>{{ 'search.fields.username.header'|trans }}</th>
            <th>{{ 'search.fields.name.header'|trans }}</th>
            <th>{{ 'search.fields.surname.header'|trans }}</th>
            <th>{{ 'search.fields.email.header'|trans }}</th>
            <th>{{ 'search.fields.enabled.header'|trans }}</th>
            <th>{{ 'search.fields.lastLogin.header'|trans }}</th>
            <th>&nbsp;</th>
        </tr>
        </thead>

        <tbody>
        {% for user in user %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.surname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.enabled ? ('search.fields.enabled.enabled'|trans) : ('search.fields.enabled.disabled'|trans) }}</td>
                <td>{{ user.lastLogin ? user.lastLogin|date('H:i:s d-m-Y') : ('search.fields.lastLogin.never'|trans) }}</td>
                <td>
                    <a href="{{ url('sfs_user_admin_update', {'user': user.id}) }}"
                       title="{{ 'search.actions.update.title'|trans }}"
                    >{{ 'search.actions.update.button'|trans }}</a>
                    <a href="{{ url('sfs_user_admin_delete', {'user': user.id}) }}"
                       onclick="return confirm('{{ 'search.actions.delete.confirm'|trans }}')"
                       title="{{ 'search.actions.delete.title'|trans }}"
                    >{{ 'search.actions.delete.button'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}